.error-page {
  display: flex;
  flex-direction: column;
  padding-top: 300px;
  align-items: center;
}

.error-page__title {
  font-size: 54px;
  color: #7575e2;
}

.error-page__link {
  font-size: 32px;
  font-weight: 700;
  color: #b4b4d7;
}

.error-page__link:focus,
.error-page__link:hover {
  color: rgb(233, 210, 182);
}
